---
layout: default
---

<div class="grid work">
{% for work in site.works %}
    <a href="//{{ work.url }}" target="_blank" class="grid__item">
        <img src="images/{{ work.name }}.jpg" alt="{% if work.alt %}{{ work.alt }}{% else %}{{ work.name }}{% endif %}" />
    </a>
{% endfor %}
</div>

<div class="grid grid--maxItems--2">
    <div class="grid__item">
        <h3>About</h3>
        <img class="profile" src="images/phil.jpg" alt="Phil Tobias" />
        <p>
            Email: <a href="mailto:philtobias [at] gmail.com">philtobias [at] gmail.com</a><br />
            LinkedIn: <a href="//www.linkedin.com/in/philtobias" target="_blank">linkedin.com/in/philtobias</a><br />
            GitHub: <a href="//www.github.com/philtobias" target="_blank">github.com/philtobias</a>
        </p>
        <p>Phil Tobias received his master's degree in Computer Science at Kutztown University of Pennsylvania and moved to Los Angeles, CA immediately following graduation. Over the next few years, he was employed at <a href="//tbwa.com" target="_blank">TBWA Worldwide</a>, <a href="//projeqt.com" target="_blank">Projeqt</a>, <a href="//tbwachiatday.com" target="_blank">TBWA\Chiat\Day</a>, and <a href="//blitzagency" target="_blank">BLITZ Agency</a> where he worked on the digital accounts for <i>Activision</i>, <i>Adobe</i>, <i>Disney</i>, <i>FX Networks</i>, <i>G4TV</i>, <i>McDonald's</i>, <i>Michelin</i>, <i>Microsoft</i>, <i>Naked Juice</i>, <i>Nissan</i>, <i>Starbucks</i>, and <i>Warner Bros</i></a>.</p>

        <p>In his free time, he enjoys a biking around town, hiking, and playing drums. He has taken classes at <a href="//www.ucbtheatre.com/" target="_blank">UCBTLA</a> and has participated in various adventure runs including <a href="//toughmudder.com/" target="_blank">Tough Mudder</a> NorCal Saturday 2010 and Tough Mudder SoCal Sunday 2011 in below freezing temperatures. He has also done the Gladiator Mud Run (2010), Malibu Dirt Dash 10K (2011), Santa Monica 5000 10K (2011), and the Point Mugu Trail Run 18K (2011). He loves traveling, automation, minimalism, and plantains. Phil currently resides in Minneapolis, MN with his gorgeous wife, who he met through a contest on <a href="//teamcoco.com" target="_blank">Teamcoco.com</a>, and their adorable Pekingese, <a href="//instagram.com/chugbunny/" target="_blank">Chugs!</a></p>
    </div>
    <div class="grid__item">
        <h3>Accolades</h3>
        <ul>
            <li>SXSW Interactive Winner</li>
            <li><a href="//www.google.com/think/campaigns/pilotis-projeqt.html" target="_blank">Google Creative Sandbox</a></li>
            <li><a href="//www.thefwa.com/site/blitz-we-design-love-" target="_blank">FWA Site of the Day</a></li>
            <li><a href="//thefwa.com/article/30-non-flash-sites-that-changed-fwa-in-2011" target="_blank">Non-Flash Site that Changed FWA in 2011</a></li>
            <li>Omma Awards</li>
            <li>Omni Awards</li>
            <li>Addy Awards</li>
            <li>Communicator Awards</li>
            <li>Interactive Media Awards</li>
            <li>W3 Awards</li>
            <li>Web Awards</li>
            <li>Communication Arts</li>
            <li>.NET Magazine Publication</li>
            <li><a href="//www.linkedin.com/redir/redirect?url=http%3A%2F%2Fijg%2Ecgpublisher%2Ecom%2Fproduct%2Fpub%2E154%2Fprod%2E341&amp;urlhash=ZaDS&amp;trk=prof-publication-title-link" target="_blank">Design Principles and Practices Journal</a></li>
            <li><a href="//www.linkedin.com/redir/redirect?url=http%3A%2F%2Fubiquity%2Eacm%2Eorg%2Farticle%2Ecfm%3Fid%3D1576100&amp;urlhash=F0KO&amp;trk=prof-publication-title-link" target="_blank">ACM Ubiquity</a></li>
            <li>PACISE</li>
        </ul>
        <h3>Skills</h3>
        <ul>
            <li>Team Lead</li>
            <li>Agile + Scrum</li>
            <li>Javascript</li>
            <li>Python + Django</li>
            <li>PHP + Wordpress</li>
            <li>HTML + CSS</li>
            <li>Desire to Learn</li>
        </ul>
    </div>
</div>