<div id="menu" class="sidebar">
  <a
    class="sidebar__link {% if include.active == 'home' %} sidebar__link--active {% endif %}"
    href="/"
    >Home</a
  >
  <a class="sidebar__link" href="mailto:philtobias [at] gmail.com">Contact</a>
  <a
    class="sidebar__link"
    href="https://www.linkedin.com/in/philtobias"
    target="_blank"
    rel="noopener noreferrer"
    >LinkedIn</a
  >
  <a
    class="sidebar__link"
    href="https://github.com/philtobias"
    target="_blank"
    rel="noopener noreferrer"
    >Github</a
  >
</div>
