* {
  box-sizing: border-box;
}

html {
  font-family: $base-font-family;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: $dark-gray-color;
  font-size: $base-font-size;
  line-height: 1.4;
}

body, h1, h2, h3, h4, h5, h6,
p, ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  margin-left: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  text-decoration: none;
}