.grid {
  display: table;
  width: 100%;
}

.grid__item {
  display: table-cell;
  width: 100%;
  float: left;

  @include media-query($medium-breakpoint) {
    width: 50%;
  }

  @include media-query($large-breakpoint) {
    width: 33.3333%;
  }
}

.grid--maxItems--2 {
  padding: 1rem;

  .grid__item {
    @include media-query($medium-breakpoint) {
      width: 50%;
      padding: 2rem 5rem 2rem 2rem;
    }
  }
}