.dark {
  background: $dark-gray-color;
  color: $white-color;
}

.content {
  padding-top: $header-height-small;
  text-align: center;

  @include media-query($small-breakpoint) {
    padding-top: $header-height-medium;
    text-align: left;
  }
}

.content--post {
  padding-top: $header-height-post;
}

.main {
  background: $white-color url(../images/bg.png);
  position: relative;
  will-change: transform;
  z-index: 2;
  background-color: inherit;
  transition: transform 300ms ease;
  height: 100%;
}

.main--push {
  transform: translateX($sidebar-width);
}

.hamburger {
 position: absolute;
 top: -2px;
 left: 0;
 padding: 10px;
 font-size: 26px;
 color: #121212;
 cursor: pointer;
 outline: none;
 z-index: 2;
}